<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite">
     <test name="LoginTest">
         <classes>
             <class name="com.epam.lab.LogInTest"/>
         </classes>
     </test>
     <test name="MainWorkFlowTest">
         <classes>
             <class name="com.epam.lab.MainWorkFlowTest"/>
         </classes>
     </test>   
     <test name="CreateNewVUTest">
         <classes>
             <class name="com.epam.lab.CreateNewVUTest"/>
         </classes>
     </test> 
     <test name="UsingRobot4DragAndDropElements">
         <classes>
             <class name="com.epam.lab.UsingRobot4DragAndDropElements"/>
         </classes>
     </test>       
</suite>